a{
    text-decoration: none;
    
}

header{
    height:60px;
    background:white;
    display:flex;
    justify-content: center;
    align-items:center;
    
}
.section{
    width:100%;
    padding-bottom:50px;
}
.section-title{
    font-size:30px;
    font-weight:300;
    text-align: center;
    padding-top:50px;
    padding-bottom:20px;
    line-height:1.4em;
    /* color:#333; */
}

.section-content{

}
.section-img{
    padding:20px;
}
.section-text{
    font-size:18px;
    padding:10px;
    
    text-align:center;
    line-height:1.4em;
    font-weight:400;
}
.section-small-text{
    font-size:14px;
    text-align:center;
    padding-left:30px;
    padding-right:30px;
}
#first{
    background-image:url('./resources/main.png');
    
    background-size: 100% 100%;
    min-height:500px;
    background-repeat: no-repeat
}
#first-title{
    padding-top:50px;
    text-align: center;
    font-size:25px;
    line-height:1.4em;
    /* color:#333; */
    font-weight:350
}
#first-bottom{
    padding-top:260px;
    text-align: center;
    font-size:25px;
    line-height:1.4em;
    font-weight:300
}
.hunter-item-wrap{
    display:flex;
    overflow:scroll;
    
}
.hunter-item{
    padding:10px;
    min-width:200px;
    
}
.hunter-img{
    width:100%;
    height:100px;
    background-position:50% 50%;
    background-size:100% auto;
}
.hunter-text{
    padding-top:10px;
    padding-bottom:10px;
    font-size:14px;
    
    
    color:#333;
}

@media screen and (min-width:640px){
    .hunter-item-wrap{
        flex-wrap:wrap;
        overflow:auto;
        padding-left:30px;
        padding-right:30px;
    }
    .hunter-item{
        min-width:25%;
        width:25%
    }
    .hunter-text{
        padding-top:10px;
        
    }
    .section-content{
        padding-left:30px;
        padding-right:30px;
    }
    .section-small-text{
        font-size:16px;
        line-height:1.4em;
    }
}
@media screen and (min-width:1024px){
    .section{
        padding-left:10%;
        padding-right:10%;
    }
    .section-content{
        display:flex;
    }
    .section-img{
        flex:1;
    }
    .section-text{
        flex:1;
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .section-small-text{
        flex:1;
        display:flex;
        justify-content: center;
        align-items:center;
    }
    
}